/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#root {
    -fx-background-color: rgb(32,32,32);
    -fx-background-color: linear-gradient(#202020 0%, #202020 90%, #1d1d1d 100%);
}

.label {
    -fx-text-fill: #F2F2F2;
}

#headerLabel {
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

#topBar {
    -fx-padding: 30 40 20 40;
}

#greetingBox {
    -fx-padding: 30 40 20 40;
}

#tileList {
    -fx-padding: 10 40 10 40;
}

#tile1 {
    -fx-background-color: linear-gradient(#FF512F, #DD2476);
    -fx-text-fill: #F2F2F2;
    -fx-font-family: "Verdana";
}
#tile2 {
    -fx-background-color: linear-gradient(#3829E8, #AC5EFF);
    -fx-text-fill: #F2F2F2;
    -fx-font-family: "Verdana";
}
#tile3 {
    -fx-background-color: linear-gradient(#1DA9E8, #68FF8B);
    -fx-text-fill: #F2F2F2;
    -fx-font-family: "Verdana";
}

#tileLabel {
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-alignment: center ;
}

#tileSublabel {
    -fx-font-family: "Verdana";
    -fx-font-size: 12;
    -fx-text-alignment: center ;
}

#RecentFaveTile{
    -fx-background-color: linear-gradient(#F0EBEC, #BFBBBC);
    -fx-font-family: "Verdana";
}

#recentFaveLabel {
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-alignment: center ;
    -fx-text-fill: #212021;

}

#recentFaveSubLabel {
    -fx-font-family: "Verdana";
    -fx-font-size: 12;
    -fx-text-alignment: center ;
    -fx-text-fill: #212021;
}