/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#root {
    -fx-background-color: linear-gradient(#232329 0%, #232329 95%, #000000 100%);
}

.label {
    -fx-text-fill: #F2F2F2;
}

#headerLabel {
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

#topBar {
    -fx-padding: 30 40 20 40;
}

#greetingBox {
    -fx-padding: 30 40 20 40;
}


#settingsButton {
    -fx-graphic: url("../../assets/settings.png");
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-max-width: 15px;
}

#tileList {
    -fx-padding: 10 40 10 40;
}

#tile1 {
    -fx-background-color: linear-gradient(#FF512F, #DD2476);
    -fx-text-fill: #F2F2F2;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
}
#tile2 {
    -fx-background-color: linear-gradient(#3829E8, #AC5EFF);
    -fx-text-fill: #F2F2F2;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
}
#tile3 {
    -fx-background-color: linear-gradient(#1DA9E8, #68FF8B);
    -fx-text-fill: #F2F2F2;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
}

#tileLabel {
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-text-alignment: center ;
}

#tileSublabel {
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-text-alignment: center ;
}