/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#root {
    -fx-background-color: rgb(32,32,32);
    -fx-background-color: linear-gradient(#202020 0%, #202020 90%, #1d1d1d 100%);
}

#topBar {
    -fx-padding: 30 40 80 40;
}

#discoverLabel {
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 22;
}

#genreButton {
    -fx-background-color: linear-gradient(#FF512F, #DD2476);
    -fx-text-fill: #F2F2F2;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#progressBar {
    -fx-padding: 20 0 0 0;
    -fx-accent: #f2f2f2;
}

#progressBar > .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
}

#progressBar > .track {
    -fx-text-box-border: #4C4C4C;
    -fx-control-inner-background: #4C4C4C;
    -fx-background-insets:  0, 0;
    -fx-background-radius: 0px;
}

#songName {
    -fx-padding: 25 0 0 0;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.label {
    -fx-text-fill: #F2F2F2;
}

#artistName {
    -fx-padding: 5 0 0 0;
    -fx-font-size: 13;
    -fx-font-family: "Verdana";
}

#actionButtons {
    -fx-padding: 30 0 0 0;
}

#timeLabels {
    -fx-padding: 10 0 0 0;
}

#dislike {
    -fx-graphic: url("../../assets/dislike.png");
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-max-width: 25px;
}

#like {
    -fx-graphic: url("../../assets/like.png");
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-max-width: 25px;
}